
fieldset{
    justify-content: left;
}

#prueba{
    display: block;
}


#my-input{
    display: flex;
    justify-content: left;
    margin: 0;
}




@import "../node_modules/bootstrap/scss/bootstrap.scss"